* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NavigationMenu */

nav {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.25rem;
    position: fixed;
    z-index: 100;
    background-color: #061e45;
    transition: top 0.3s;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: flex-end;
    flex-grow: 1;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #0b76a0;
    /*#888*/
    padding: 0.625rem 0.625rem;
    font-size: 1rem;
    background: none;
    position: relative;
    cursor: pointer;
    margin-left: 1.25rem;
}

nav ul li:first-child a {
    margin-left: 0;
    /* Reset the margin for the first item */
}

nav ul li a:hover {
    color: #c01212;
    background: transparent;
    transition: 0.2s;
}

.head-logo {
    display: flex;
    list-style: none;
}

nav img {
    height: 3.25rem;
    width: 3.125rem;
}

nav p {
    margin: 0.3rem 0 0.25rem 0.625rem;
    color: #0b76a0;
    font-size: 0.95rem;
}

nav ul li a.active {
    color: #888;
    opacity: 1;
}

nav ul li a.active:hover {
    color: #c01212;
    background: transparent;
    transition: 0.2s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 80px;
    margin-right: 2px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media only screen and (max-width: 1020px) {
    nav {
        padding: 0 20px;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 7.5rem;
        left: -110%;
        width: 100vw;
        height: 60vh;
        background-color: #061e45;
        text-align: center;
        transition: all .5s;
        z-index: 99;
    }

    nav ul li {
        margin: 0 auto;
        line-height: 1px;
    }

    nav ul li a {
        margin: 0 auto;
        font-size: 1.75rem;
        display: block;
        padding: 2rem;
        color: #0b76a0;
        text-align: center;
    }

    .nav-menu.active {
        left: 0%;
        margin: 0 auto;
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 30px;
        color: #fff;
        text-decoration: none;
    }

    #check:checked~nav ul {
        left: 0;
    }

    .checkbtn {
        display: block;
    }

    .checkbtn:before {
        content: "\2715";
        font-size: 24px;
        position: absolute;
        top: 22px;
        right: 20px;
        display: none;
    }
}


/* HomePage */
.Home-page {
    height: 35rem;
    width: 100%;
    background-color: #061e45;
    background-image: linear-gradient(rgba(179, 176, 176, 0.85), rgba(218, 218, 218, 0.8)), url(images/teamphoto.jpg);
    background-size: cover;
}

.text-box {
    margin-top: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.text-box h1 {
    font-size: 3.625rem;
    /* Changed from px to rem */
    padding-top: 11.875rem;
    /* Changed from px to rem */
    margin-bottom: 1%;
    color: #43c7fc;
    text-align: center;

    /* Animation */
    animation-name: colorChange;
    animation-duration: 2s;
    /* Change duration to adjust the period */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes colorChange {
    0% {
        color: #061e45;
    }

    50% {
        color: #08435a;
        /* Change to the desired color */
    }

    100% {
        color: #061e45;
    }
}

.text-box p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.25rem;
    /* Changed from px to rem */
    color: #061e45;
    text-align: center;
    padding: 0.625rem 0 0.0625rem 0rem;
    /* Changed from px to rem */
}

/* BUTTON */
.button1 {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 2.5rem 0 0.3125rem 0rem;
    /* Changed from px to rem */
}

button {
    cursor: pointer;
    position: relative;
    color: #061e45;
    padding: 1em;
    font-size: 0.9375rem;
    /* Changed from px to rem */
    background: transparent;
    border: 0.1rem solid #061e45;
    /* Changed from px to rem */
    transition: all 0.3s;
    border-radius: 1.25rem;
    /* Changed from px to rem */
}

button a {
    text-decoration: none;
}

button:hover {
    color: #fff;
    background: #061e45;
}

/* Media Queries */
@media (max-width: 768px) {
    .Home-page {
        height: auto;
    }

    .text-box {
        padding-top: 6rem;
        /* Adjust the padding as needed for mobile layout */
    }

    .text-box h1 {
        font-size: 2.5rem;
        padding-top: 5rem;
        /* Adjust the font size and padding as needed for mobile layout */
    }

    .text-box p {
        font-size: 1rem;
        /* Adjust the font size as needed for mobile layout */
    }

    .button1 {
        margin-top: 2.5rem;
        /* Adjust the margin as needed for mobile layout */
    }

    button {
        font-size: 0.875rem;
        /* Adjust the font size as needed for mobile layout */
    }
}

/* Vision & Mission */
.vision-mision {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.125rem 0 2.75rem 0;
    background-color: #fff;
    height: 20rem;
}

.vision,
.mission {
    flex: 1;
    color: #061e45;
    padding: 0.75rem;
    max-width: 55%;
    /* Set a maximum width of 50% for both divs */
}

.vision h1,
.mission h1 {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
    color: #061e45;
    text-align: center;
}

.vision p,
.mission p {
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Optional: Add styling for vertical line */
.vertical-line {
    display: inline-block;
    width: 0.125rem;
    height: 13.375rem;
    background-color: #afafb6;
    margin: 0 1.25rem;
}

/* Center the vertical line */
.vision-mision .vertical-line {
    align-self: center;
}


/* Media Queries */
@media (max-width: 768px) {
    .vision-mision {
        flex-direction: column;
        height: auto;
    }

    .vertical-line {
        display: none;
    }

    .vision,
    .mission {
        max-width: 100%;
        padding: 0.75rem 1.5rem;
        margin-bottom: 1.5rem;
    }

    .vision h1,
    .mission h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .vision p,
    .mission p {
        font-size: 1rem;
    }
}

/* Drive-By */
.drive {
    background-color: #43c7fc;
    padding: 3.125rem 0;
    height: 29rem;
}

.drive h1 {
    color: #061e45;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.875rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 1.875rem;
}

.column {
    flex-basis: 30%;
    padding: 1.875rem;
    background-color: #061e45;
    color: #fff;
    margin: 0.625rem;
    text-align: center;
    border-radius: 1.25rem;
    transition: background-color 0.3s ease;
}

.column:hover {
    background-color: #061e45;
    opacity: 0.9;
    transition: 0.3s;
}

.column h2 {
    font-size: 1.5rem;
    margin-top: 0;
    color: #43c7fc;
}

.column p {
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    margin-top: 0.625rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .drive {
        height: 47rem;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .column {
        flex-basis: 100%;
        margin: 0.625rem 0;
        border-radius: 0;
        background-color: #43c7fc;
    }

    .drive h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .column h2 {
        font-size: 1.25rem;
        color: #061e45;
    }

    .column p {
        font-size: 0.875rem;
    }
}

/* Our Approach */
.Approach {
    background-color: #061e45;
    padding: 3.125rem 0 0.125rem 0;
    /* Changed from px to rem */
    color: #fff;
    text-align: center;
}

.Approach h2 {
    font-size: 2rem;
    /* Changed from px to rem */
    margin-bottom: 1.25rem;
    /* Changed from px to rem */
}

.Approach p {
    font-size: 1.125rem;
    /* Changed from px to rem */
    line-height: 1.6;
    margin-bottom: 2.5rem;
    /* Changed from px to rem */
}

.cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.card {
    flex-basis: 30%;
    padding: 1.25rem;
    /* Changed from px to rem */
    margin: 0.625rem;
    /* Changed from px to rem */
    border-radius: 1.25rem;
    /* Changed from px to rem */
    background-color: #061e45;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
}

.card h3 {
    font-size: 1.5em;
    /* Changed from px to rem */
    margin-top: 0;
    margin-bottom: 0.325rem;
    /* Changed from px to rem */
}

.card img {
    width: 4rem;
    /* Changed from px to rem */
    height: 4rem;
    /* Changed from px to rem */
    margin-bottom: 0.625rem;
    /* Changed from px to rem */
}

.card p {
    font-size: .9rem;
    /* Changed from px to rem */
    line-height: 1.5;
    margin-top: 0;
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex-basis: 100%;
        margin: 0.625rem 0;
    }

    .card img {
        width: 3rem;
        /* Changed from px to rem */
        height: 3rem;
        /* Changed from px to rem */
    }

    .Approach h2 {
        font-size: 1.5rem;
        /* Changed from px to rem */
        margin-bottom: 1rem;
        /* Changed from px to rem */
    }

    .Approach p {
        font-size: 1rem;
        /* Changed from px to rem */
        margin-bottom: 2rem;
        /* Changed from px to rem */
    }
}

/*Our Solution*/
.Solution {
    background-color: #fff;
    padding: 1.25rem;
    /* Changed from px to rem */
    text-align: center;
}

.Solution h2 {
    font-size: 2rem;
    /* Changed from px to rem */
    color: #061e45;
}

.Solution p {
    font-size: 1rem;
    /* Changed from px to rem */
    color: #061e45;
    line-height: 1.6rem;
    margin-bottom: 2.5rem;
    /* Changed from px to rem */
}

.sol-section {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0 1.5rem 0;
    /* Changed from px to rem */
}

.sol-card {
    position: relative;
    width: 22.5rem;
    /* Changed from px to rem */
    height: 18rem;
    padding: 1.75rem;
    /* Changed from px to rem */
    background-color: #061e45;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    /* Changed from px to rem */
    transition: transform 0.1s ease;
    overflow: hidden;
}

.sol-card:hover {
    transform: translateY(0);
}

.sol-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #061e45d4;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.sol-card:hover::before {
    opacity: 1;
}

.sol-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease;
    pointer-events: none;
    z-index: 1;
}

.sol-card:hover .sol-card-overlay {
    opacity: 1;
}

.sol-card-overlay p {
    color: #fff;
    padding: 2.75em;
    font-size: 0.875rem;
    /* Changed from px to rem */
    z-index: 1;
    text-align: center;
}

.sol-card img {
    width: 100%;
    height: 12.5rem;
    /* Changed from px to rem */
    object-fit: cover;
    border-radius: 0.375rem;
    /* Changed from px to rem */
}

.sol-card h4 {
    margin-top: .5rem;
    /* Changed from px to rem */
    font-size: 1.25rem;
    /* Changed from px to rem */
    color: #43c7fc;
    z-index: 1;
}


/* Media Queries */
@media (max-width: 768px) {

    /* Styles for tablets and smaller screens */
    .sol-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sol-card {
        width: 90%;
        margin: 0.625rem;
    }
}

@media (max-width: 576px) {

    /* Styles for mobile devices */
    .sol-card {
        width: 100%;
        height: auto;
    }
}

/* Our Impact */
.impact-section h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #061e45;
    padding: 1.25em;
}

.Impact {
    width: 100%;
    margin-top: 0%;
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    background-color: #061e45;
    color: #fff;
    padding: 0em .25em 2.75em .25em;
    text-align: center;
}

.Impact p {
    text-align: left;
    color: #fff;
    padding: 0 1.25rem 1.25rem 1.25rem;
    font-size: 1.25rem;
}

.section-content {
    flex: 1;
    padding: 1.25rem;
}

.section-counter {
    flex: 1;
    text-align: center;
}

#counter1,
#counter2 {
    font-size: 4rem;
    color: #43c7fc;
}

#target1,
#target2 {
    font-weight: normal;
}

/* Media Queries */
@media (max-width: 768px) {
    .Impact {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .Impact p {
        font-size: 1rem;
        padding: 0 1rem 1rem 1rem;
    }

    .section-content,
    .section-counter {
        padding: 0;
        margin-bottom: 1.5rem;
    }

    .section-counter {
        text-align: center;
    }

    #counter1,
    #counter2 {
        font-size: 3rem;
    }
}

/*PATNER*/
/* Styles for partners section */
/* Styles for desktop */
.patner {
    width: 100%;
    /* Changed from px to % */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    /* Changed from px to % */
    padding-top: 0;
    padding-bottom: 2%;
    /* Changed from px to % */
    background: #fff;
    margin-bottom: 0%;
    /* Changed from px to % */
    border-radius: 0rem;
    /* Changed from px to rem */
}

.patner h1 {
    font-size: 2.2rem;
    /* Changed from px to rem */
    color: #061e45;
    background-color: #fff;
    margin-top: 0.25rem;
    /* Changed from px to rem */
    padding: 1.25em;
}

.patner hr,
.impact-section hr {
    border: none;
    height: .5px;
    background-color: #061e45;
    margin-top: 0.25rem;
    /* Changed from px to rem */
    margin-bottom: 1.25rem;
    /* Changed from px to rem */
}

.patner .row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.patner .img1,
.patner .img2,
.patner .img3,
.patner .img4,
.patner .img5 {
    height: 6.75rem;
    /* Changed from px to rem */
    width: 10.0rem;
    /* Changed from px to rem */
    padding: 0.75rem;
    /* Changed from px to rem */
    margin: 1.625rem;
    /* Changed from px to rem */
    object-fit: contain;
    background-color: #fff;
}


/* Styles for mobile */
@media (max-width: 767px) {
    .patner h1 {
        font-size: 1.25rem;
        /* Changed from px to rem */
    }

    .patner .img1,
    .patner .img2,
    .patner .img3,
    .patner .img4,
    .patner .img5 {
        height: 3.75rem;
        /* Changed from px to rem */
        width: 8.125rem;
        /* Changed from px to rem */
    }
}

@media (max-width: 576px) {

    /* Styles for mobile devices */
    .patner h1 {
        font-size: 1.25rem;
    }

    .patner hr,
    .impact-section hr {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .patner .img1,
    .patner .img2,
    .patner .img3,
    .patner .img4,
    .patner .img5 {
        height: 4.5rem;
        width: 8rem;
        margin: 1rem;
    }
}


/*FOOTER*/

.footer {
    position: relative;
    background: #061e45;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 13.125rem;
    height: 1px;
    width: 100%;
    background: #fff;
}

.footer .content {
    background-color: #061e45;
    max-width: 78.125rem;
    /* Changed from px to rem */
    margin: auto;
    padding: 1.875rem 2.5rem 0.625rem 2.5rem;
    /* Changed from px to rem */
}

.footer .content .top {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 1%;
    padding: 2.8125rem 0 0 0;
    /* Changed from px to rem */
}

.content .top .logo-details img {
    width: 3.5rem;
    /* Changed from px to rem */
    height: 3.625rem;
    /* Changed from px to rem */
}

.media-icons {
    display: flex;
    justify-content: center;
}

.media-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    /* Changed from px to rem */
    height: 3.125rem;
    /* Changed from px to rem */
    border-radius: 50%;
    border: 0.125rem solid #fff;
    margin: 0 0 0 0.375rem;
    /* Changed from px to rem */
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.media-icons svg {
    width: 1.5625rem;
    /* Changed from px to rem */
    height: 1.5625rem;
    /* Changed from px to rem */
    fill: #061e45;
}

.footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .content .link-boxes .box2 {
    width: calc(100% / 0.5 - 0.625rem);
}

.content .link-boxes .box2 .link_name {
    color: #43c7fc;
    font-size: 1.125rem;
    /* Changed from px to rem */
    font-weight: 400;
    margin-bottom: 0.625rem;
    /* Changed from px to rem */
    position: relative;
}

.link-boxes .box2 .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.125rem;
    /* Changed from px to rem */
    height: 1px;
    width: 3.125rem;
    /* Changed from px to rem */
    background: #fff;
}

.content .link-boxes .box2 li {
    margin: 0.375rem 0;
    /* Changed from px to rem */
    list-style: none;
}

.content .link-boxes .box2 li a {
    color: #fff;
    font-size: 0.875rem;
    /* Changed from px to rem */
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.content .link-boxes .box2 li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 3.4375rem;
    /* Changed from px to rem */
}

.link-boxes .input-box input {
    height: 2.5rem;
    /* Changed from px to rem */
    width: calc(100% + 3.4375rem);
    /* Changed from px to rem */
    outline: none;
    border: 0.125rem solid #afafb6;
    background: #061e45;
    border-radius: 0.25rem;
    /* Changed from px to rem */
    padding: 0 0.9375rem;
    /* Changed from px to rem */
    font-size: 0.9375rem;
    /* Changed from px to rem */
    color: #fff;
    margin-top: 0.3125rem;
    /* Changed from px to rem */
}

.link-boxes .input-box input::placeholder {
    color: #afafb6;
    font-size: 1rem;
    /* Changed from px to rem */
}

.link-boxes .input-box input[type="button"] {
    background-color: #fff;
    color: #061e45;
    border: none;
    font-size: 1.125rem;
    /* Changed from px to rem */
    font-weight: 500;
    margin: 0.25rem 0;
    /* Changed from px to rem */
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

/* Styles for desktop */
.footer .bottom-details {
    width: 100%;
    background-color: #fff;
    color: #061e45;
}

.footer .bottom-details .copyright_text {
    max-width: 78.125rem;
    /* Changed from px to rem */
    margin: auto;
    padding: 0.5rem 2.5rem;
    /* Changed from px to rem */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .bottom-details .dev_text a {
    color: #c01212;
}


/* Styles for mobile */
@media (max-width: 767px) {
    .footer .bottom-details .copyright_text {
        flex-direction: column;
        text-align: center;
        padding: 1.25rem;
        /* Changed from px to rem */
    }

    .footer .bottom-details .dev_text {
        margin-top: 0.625rem;
        /* Changed from px to rem */
    }

    .footer::before {
        display: none;
    }
}

@media (max-width: 900px) {
    .footer .content .link-boxes {
        flex-wrap: wrap;
    }

    .footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 0.625rem;
        /* Changed from px to rem */
    }

    .logo-name {
        display: none;
    }

    .footer::before {
        display: none;
    }
}

@media (max-width: 1240px) {
    .logo-name {
        display: none;
    }
}

@media (max-width: 700px) {
    .footer {
        position: relative;
    }

    .content .top .logo-details {
        font-size: 1.625rem;
        /* Changed from px to rem */
    }

    .content .top .media-icons a {
        height: 2.1875rem;
        /* Changed from px to rem */
        width: 2.1875rem;
        /* Changed from px to rem */
        font-size: 0.875rem;
        /* Changed from px to rem */
        line-height: 2.1875rem;
        /* Changed from px to rem */
    }

    .footer .content .link-boxes .box2 {
        width: calc(100% / 0.5 - 0.625rem);
    }

    .footer .content .link-boxes .input-box {
        width: 60%;
    }
}

@media (max-width: 520px) {
    .footer::before {
        top: 9.0625rem;
        /* Changed from px to rem */
    }

    .footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 1rem;
        /* Changed from px to rem */
    }

    .footer .content .link-boxes .box2 {
        width: calc(100% / 0.5 - 0.625rem);
    }

    .footer .content .link-boxes .input-box {
        width: 100%;
    }
}