* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NavigationMenu */

nav {
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6.25rem;
  position: fixed;
  z-index: 100;
  background-color: #061e45;
  transition: top 0.3s;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: flex-end;
  flex-grow: 1;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #0b76a0;
  /*#888*/
  padding: 0.25rem 0.25rem;
  font-size: 0.85rem;
  background: none;
  position: relative;
  cursor: pointer;
  margin-left: 1rem;
}

nav ul li:first-child a {
  margin-left: 0;
  /* Reset the margin for the first item */
}

nav ul li a:hover {
  color: #c01212;
  background: transparent;
  transition: 0.2s;
}

.head-logo {
  display: flex;
  list-style: none;
}

nav img {
  height: 3.25rem;
  width: 3.125rem;
}

nav p {
  margin: 0.45rem 0 0.25rem 0.625rem;
  color: #0b76a0;
  font-size: 0.75rem;
}

nav ul li a.active {
  color: #888;
  opacity: 1;
}

nav ul li a.active:hover {
  color: #c01212;
  background: transparent;
  transition: 0.2s;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: left;
  line-height: 80px;
  margin-right: 2px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 0 20px;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 7.5rem;
    left: -110%;
    width: 100vw;
    height: 60vh;
    background-color: #061e45;
    text-align: center;
    transition: all .5s;
    z-index: 99;
  }

  nav ul li {
    margin: 0 auto;
    line-height: 1px;
  }

  nav ul li a {
    margin: 0 auto;
    font-size: 1.75rem;
    display: block;
    padding: 2rem;
    color: #0b76a0;
    text-align: center;
  }

  .nav-menu.active {
    left: 0%;
    margin: 0 auto;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
  }

  #check:checked~nav ul {
    left: 0;
  }

  .checkbtn {
    display: block;
  }

  .checkbtn:before {
    content: "\2715";
    font-size: 24px;
    position: absolute;
    top: 22px;
    right: 20px;
    display: none;
  }
}


/* Board of trustees */

.profiles {
  text-align: center;
  background-color: #061e45;
}

.profiles h2 {
  padding-top: 4em;
  /* 10% / 16px = 0.625em */
  font-size: 1.25rem;
  /* 36px / 16px = 2.25rem */
  margin-bottom: 0.1875rem;
  color: #fff;
}

.profiles p {
  color: #888;
  font-size: 0.85rem;
  max-width: 80vw;
  text-align: center;
  margin: 0 auto 1.25rem auto;
}


.profile {
  display: inline-block;
  width: 38%;
  height: 23rem;
  margin: 1.25rem;
  border: 0.125rem solid #ffffff;
  border-radius: 0.625rem;
  padding: 1.25rem;
  text-align: center;
  vertical-align: top;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  /* 10px / 16px = 0.625rem */
  overflow: hidden;
}

.profile img {
  display: block;
  width: 32%;
  height: 6.25rem;
  margin: 0 auto;
  border-radius: 5%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profile h3 {
  font-size: 1.05rem;
  font-weight: bold;
  margin-top: 1.25rem;
  color: #fff;
}

.profile h4 {
  font-size: 0.825rem;
  font-weight: bold;
  color: #888;
  margin-top: 0.625rem;
}


.profile p {
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.1;
  margin-top: 1.25em;
  text-align: justify;
}

/* Responsive styles for tablet and mobile devices */
@media screen and (max-width: 1280px) {
  .profiles h2 {
    padding-top: 6em;
  }
}

@media screen and (max-width: 915px) {
  .profiles h2 {
    padding-top: 11em;
  }
}

@media screen and (max-width: 768px) {
  .profiles h2 {
    padding-top: 7.5em;
  }

  .profiles p {
    font-size: 0.9rem;
  }

  .profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .profile {
    width: 95%;
    height: auto;
    margin: 1.25rem 0;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  .profiles h2 {
    padding-top: 5em;
  }
}


/*FOOTER SECTION*/
/*FOOTER*/

.footer {
  position: relative;
  background: #061e45;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 13.125rem;
  height: 1px;
  width: 100%;
  background: #fff;
}

.footer .content {
  background-color: #061e45;
  max-width: 78.125rem;
  margin: auto;
  padding: 1.875rem 2.5rem 0.625rem 2.5rem;
}

.footer .content .top {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 1%;
  padding: 2.8125rem 0 0 0;
}

.content .top .logo-details img {
  width: 3rem;
  height: 3.25rem;
}

.media-icons {
  display: flex;
  justify-content: center;
}

.media-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.025rem;
  height: 3.025rem;
  border-radius: 50%;
  border: 0.125rem solid #fff;
  margin: 0 0 0 0.375rem;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.media-icons svg {
  width: 1.3625rem;
  height: 1rem;
  fill: #061e45;
}

.footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .content .link-boxes .box2 {
  width: calc(100% / 0.5 - 0.625rem);
}

.content .link-boxes .box2 .link_name {
  color: #c3e3eb;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
  position: relative;
}

.link-boxes .box2 .link_name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  height: 1px;
  width: 3.125rem;
  background: #fff;
}

.content .link-boxes .box2 li {
  margin: 0.375rem 0;
  list-style: none;
}

.content .link-boxes .box2 li a {
  color: #fff;
  font-size: 0.85rem;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.content .link-boxes .box2 li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.content .link-boxes .input-box {
  margin-right: 3.4375rem;
}

.link-boxes .input-box input {
  height: 2.3rem;
  width: calc(100% + 3.4375rem);
  outline: none;
  border: 0.125rem solid #afafb6;
  background: #061e45;
  border-radius: 0.25rem;
  padding: 0 0.9375rem;
  font-size: 0.9375rem;
  color: #fff;
  margin-top: 0.3125rem;
}

.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 0.8rem;
}

.link-boxes .input-box input[type="button"] {
  background-color: #fff;
  color: #061e45;
  border: none;
  font-size: 0.85rem;
  font-weight: 500;
  margin: 0.25rem 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
  opacity: 1;
}

/* Styles for desktop */
.footer .bottom-details {
  width: 100%;
  background-color: #fff;
  color: #061e45;
  font-size: 0.75rem;
}

.footer .bottom-details .copyright_text {
  text-align: center;
  padding: 0.5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for mobile */
@media (max-width: 767px) {
  .footer .bottom-details .copyright_text {
    flex-direction: column;
    text-align: center;
    padding: 1.25rem;
  }

  .footer .bottom-details .dev_text {
    margin-top: 0.625rem;
  }

  .footer::before {
    display: none;
  }
}

@media (max-width: 900px) {
  .footer .content .link-boxes {
    flex-wrap: wrap;
  }

  .footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 0.625rem;
  }

  .logo-name {
    display: none;
  }

  .footer::before {
    display: none;
  }
}

@media (max-width: 1240px) {
  .logo-name {
    display: none;
  }
}

@media (max-width: 700px) {
  .footer {
    position: relative;
  }

  .content .top .logo-details {
    font-size: 1.625rem;
  }

  .content .top .media-icons a {
    height: 2.1875rem;
    width: 2.1875rem;
    font-size: 0.875rem;
    line-height: 2.1875rem;
  }

  .footer .content .link-boxes .box2 {
    width: calc(100% / 0.5 - 0.625rem);
  }

  .footer .content .link-boxes .input-box {
    width: 60%;
  }
}

@media (max-width: 520px) {
  .footer::before {
    top: 9.0625rem;
  }

  .footer .content .top {
    flex-direction: column;
  }

  .content .top .media-icons {
    margin-top: 1rem;
  }

  .footer .content .link-boxes .box2 {
    width: calc(100% / 0.5 - 0.625rem);
  }

  .footer .content .link-boxes .input-box {
    width: 100%;
  }
}