/*

Kazan Africa

*/

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #E62F18;
  --section-bg-color: #000000;
  --custom-p-color: #ffe0b4;
  --dark-color: #000000;
  --p-color: #979797;
  --border-color: #c1c1c1c1;

  --body-font-family: 'Plus Jakarta Sans', sans-serif;

  --h1-font-size: 68px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 20px;
  --btn-font-size: 16px;
  --form-btn-font-size: 18px;
  --menu-font-size: 16px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  background-color: var(--dark-color);
  font-family: var(--body-font-family);
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.65;
}

.section-overlay+.container {
  position: relative;
  z-index: 22;
}

.back-top-icon {
  font-size: var(--h2-font-size);
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 12px 28px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--white-color);
  color: var(--white-color);
}

.custom-border-btn:hover {
  background: var(--white-color);
  color: var(--secondary-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.custom-btn-italic {
  font-style: italic;
}


/*---------------------------------------
  NAVIGATION BAR & OFFCANVAS              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper.is-sticky .container {
  background: rgba(0, 0, 0, 0.9);
  border-radius: var(--border-radius-medium);
  padding: 15px 30px;
}

.navbar {
  background: transparent;
  z-index: 999999;
  padding-top: 10px;
  padding-bottom: 30px;
}

.navbar .container {
  background: rgba(0, 0, 0, 0.9);
  border-radius: var(--border-radius-medium);
  padding: 15px 30px;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
  display: block;
  color: var(--white-color);
}

.navbar .navbar-brand-image {
  filter: brightness(0) invert(1);
}

.navbar-brand-image {
  width: 127px;
  height: auto;
  margin-right: 10px;
}

.navbar .custom-btn {
  padding: 10px 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-bold);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.navbar .dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  top: -10px;
  left: 10px;
}

.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
  background: transparent;
  color: var(--link-hover-color);
}

.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--menu-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
  =====================================================================HOME SECTION START======================================================================        
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  background-color: var(--dark-color);
  position: relative;
  overflow: hidden;
  min-height: 620px;
  text-align: center;
}

.hero-section::after {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: var(--border-radius-medium);
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

@media screen and (min-width: 991px) {
  .hero-section {
    height: 100vh;
  }
}

.hero-section h1 {
  color: var(--white-color);
}

.small-text {
  color: var(--white-color);
}

.hero-section .custom-border-btn {
  border-color: transparent;
}

.hero-section .container {
  position: relative;
  z-index: 9;
}

.hero-slides {
  width: 100%;
  height: 100%;
  position: absolute !important;
}

/*---------------------------------------
  HOME  SMALL ABOUT              
-----------------------------------------*/
.about-section {
  background-color: var(--secondary-color);
  position: relative;
}

.about-section .ratio,
.about-section img {
  border-radius: var(--border-radius-medium);
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.about-image-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.about-video-info {
  border-radius: var(--border-radius-medium);
  border-color: var(--secondary-color);
  bottom: 0;
  height: auto;
  padding: 40px;
}

.about-video-info h4 {
  color: var(--white-color);
}

.about-section h6 {
  color: var(--secondary-color);
}

.text-white {
  padding: 15px 15px;
  color: var(--custom-p-color);
}

.why-section {
  background-color: var(--dark-color);
  padding: 40px 0;
}

.why-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-block {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 380px;
  height: 520px;
}

.about-block-wrap {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.about-block-image-wrap {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.about-block-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.about-block-wrap:hover .about-block-image {
  transform: scale(1.1);
}

.about-block-info {
  height: 45%;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 20px;
}

.about-block-info h4 {
  font-weight: bold;
}

.about-block-info p {
  line-height: 1.5;
  margin: 0;
  color: #ffe0b4;
}

.about-block-info-1 {
  background-color: #640902;
  color: var(--custom-p-color);
}

.about-block-info-2 {
  background-color: #006400;
}

.about-block-info-3 {
  background-color: #000080;
}

/*---------------------------------------
  DROPDOWN QUESTIONS              
-----------------------------------------*/

.wrapper {
  max-width: 85%;
  width: 100%;
  padding: 10px 0;
  margin: 2px auto;
}

input {
  display: none;
}

.wrapper label {
  display: flex;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-bottom: 2px solid var(--p-color);
  user-select: none;
  font-size: var(--h4-font-size);
  color: var(--white-color);
}

.wrap-1,
.wrap-2,
.wrap-3,
.wrap-4,
.wrap-5 {
  padding: 10px;
}

label div:first-child {
  width: 100%;
  line-height: 45px;
  margin-left: 10px;
}

.cross {
  margin-right: 15px;
  margin-top: 3px;
}

.cross:before,
.cross:after {
  content: '';
  border-top: 2px solid #3E474F;
  width: 15px;
  display: block;
  margin-top: 18px;
  transition: 0.3s;
}

.cross:after {
  transform: rotate(90deg);
  margin-top: -2px;
}

.content {
  box-sizing: border-box;
  font-size: var(--p-font-size);
  color: var(--white-color);
  margin: 10px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height, .5s;
}

input:checked~.content {
  max-height: 400px;
  transition: max-height, 1s;
}

input:checked~label .cross:before {
  transform: rotate(180deg);
}

input:checked~label .cross:after {
  transform: rotate(0deg);
}

/*---------------------------------------
  CASE STUDIES            
-----------------------------------------*/

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  gap: 20px;
  /* Adds spacing between cards */
  max-width: 1200px;
  /* Adjusts max width */
  margin: 0 auto;
  /* Centers the cards container */
}

.card__img {
  visibility: visible;
  /* Ensure the element is visible */
  background-size: contain;
  /* Make the image fully visible */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Prevent tiling */
  width: 100%;
  /* Match container width */
  height: 400px;
  /* Set fixed height */
  border-top-left-radius: 12px;
  /* Apply border radius */
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  /* Fill the container with the image */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Prevent tiling */
  width: 100%;
  position: absolute;
  height: 400px;
  /* Match `.card__img` height */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: var(--white-color);
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  /* Limits maximum card size */
  transition: all 0.3s ease;
  /* Smooth transition */
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.card__info {
  z-index: 2;
  background-color: var(--white-color);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.card:hover .card__img--hover {
  height: 400px;
  /* Maintain the same height */
  opacity: 1;
  /* Ensure visibility when hovered */
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

/*---------------------------------------
  OUR CLIENTS       
-----------------------------------------*/
:root {
  --clients-width: 100vw;
  --clients-height: 15vh;
  --clients-elements-displayed: 5;
  --clients-element-width: calc(var(--clients-width) / var(--clients-elements-displayed));
  --clients-animation-duration: calc(var(--clients-elements) * 6s);
}

.clients {
  width: 100%;
  height: var(--clients-height);
  background-color: #000;
  color: #eee;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.clients:before,
.clients:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.clients:before {
  left: 0;
  background: linear-gradient(to right, #000 0%, transparent 100%);
}

.clients:after {
  right: 0;
  background: linear-gradient(to left, #000 0%, transparent 100%);
}

.clients-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--clients-animation-duration) linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--clients-element-width) * var(--clients-elements)));
  }
}

.clients-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--clients-element-width);
  max-height: 100%;
  font-size: calc(var(--clients-height)*3/4);
  /* 5rem; */
  white-space: nowrap;
}

.clients-content li img {
  width: 120px;
  height: auto;
  /* border: 2px solid #eee; */
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }

  :root {
    --clients-width: 100vw;
    --clients-height: 16vh;
    --clients-elements-displayed: 3;
  }

  .clients:before,
  .clients:after {
    width: 5rem;
  }
}

/*---------------------------------------
  TESTIMONIALS              
-----------------------------------------*/
.l-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 5px 0;
}

.l-card {
  width: auto;
  min-width: 360px;
  max-width: 380px;
  height: auto;
  background: var(--secondary-color);
  color: var(--white-color);
  padding: 50px;
  margin: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-medium);
}

.l-card__text p {
  font-size: var(--p-font-size);
  font-weight: 400;
  color: var(--white-color);
  text-align: left;
}

.l-card__text p::after {
  content: "\201D";
  display: inline;
  color: var(--white-color);
}

.l-card__text p::before {
  content: "\201C";
  display: inline;
  color: var(--white-color);
}

.l-card__user {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  margin-top: 12px;
  border-top: 1px solid #c1c1c1;
  align-items: center;
}

.l-card__userImage {
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
}

.l-card__userImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-card__userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.l-card__userInfo span:nth-child(1) {
  font-weight: bold;
  font-size: 14px;
  color: var(--white-color);
}

.l-card__userInfo span:nth-child(2) {
  color: #c1c1c1;
  font-size: 12px;
  margin-top: 2px;
}

/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.contact-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0)), url("https://cdn.builder.io/api/v1/image/assets/TEMP/2bc841736a4d994c3545b28b73a8b4c0fb819d7947d761fbb440cd4c9f1932ac?placeholderIfAbsent=true&apiKey=2d690f505a1440cfaedf572735be54e1");
  background-size: cover;
}

.google-map {
  border-radius: var(--border-radius-medium);
}

.contact-block-wrap {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  padding: 0;
  min-height: 200px;
}

.contact-block {
  background: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  transform: rotate(8deg);
  height: 100%;
  padding: 20px 40px;
}

.contact-block h6 {
  transform: rotate(-8deg);
}

.contact-block .custom-icon {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

.contact-block strong {
  display: block;
  color: var(--white-color);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  color: var(--white-color);
  border-radius: var(--border-radius-small);
  margin-bottom: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: none;
  outline: none;
  transition: all 0.3s;
}

.custom-form .form-control:hover,
.custom-form .form-control:focus {
  border-color: var(--secondary-color);
}

.custom-form .form-label {
  color: var(--white-color);
  font-style: italic;
  margin-bottom: 15px;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--form-btn-font-size);
  font-weight: var(--font-weight-bold);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  color: var(--secondary-color);
}

.contact-form .form-control,
.booking-form .form-control {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.25);
}

.form-control {
  color: var(--p-color);
}

.custom-form input::-webkit-input-placeholder,
.custom-form textarea::-webkit-input-placeholder {
  color: var(--p-color);
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.site-footer strong {
  color: var(--white-color);
}

.site-footer p,
.site-footer-link {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--btn-font-size);
}

.site-footer-link {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--btn-font-size);
  transition: all 0.3s;
}

.site-footer-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline;
}


/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--menu-font-size);
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--white-color);
  color: var(--secondary-color);
}

.social-icon-link span {
  display: block;
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 62px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero-section {
    padding-top: 148px;
    padding-bottom: 100px;
  }

  .navbar-brand,
  .navbar-brand:hover {
    font-size: var(--h5-font-size);
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin-bottom: 0;
  }

  .navbar .custom-btn {
    margin-bottom: 10px;
  }

  .booking-form {
    padding: 45px;
  }

  .contact-section .container {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    padding: 35px;
  }

  .site-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 12px 20px;
  }

  .menu-block-wrap,
  .reviews-block-image-wrap,
  .reviews-block-info {
    padding: 20px;
  }
}


@media screen and (max-width: 578px) {

  .navbar .container,
  .sticky-wrapper.is-sticky .container {
    margin-right: 10px;
    margin-left: 10px;
  }
}


@media screen and (max-width: 480px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .hero-section::after {
    width: 200px;
    height: 200px;
  }

  .booking-form {
    padding: 35px;
  }

  .opening-hours-list li {
    font-size: 12px;
  }

  .reviews-block-image-wrap {
    flex-direction: column;
  }

  .reviews-block-image {
    margin-bottom: 15px;
  }

}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
  =====================================================================HOME SECTION END======================================================================        
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
  =====================================================================ABOUT US SECTION START======================================================================        
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.about-hero {
  background-color: #E62F18;
  z-index: 10;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.about-hero img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.about-des {
  background-color: #E62F18;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 168px 80px;
}

.about-content {
  display: flex;
  margin-bottom: -34px;
  width: 100%;
  max-width: 1044px;
  flex-direction: column;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
  =====================================================================ABOUT US SECTION END======================================================================        
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
  =====================================================================CASE STUDIES SECTION START======================================================================        
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.case-studies {
  padding: 100px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------
  =====================================================================CASE STUDIES SECTION END======================================================================        
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/